.header__left{
    display: flex;
}
.header__left > img{
    background-size: contain;
    object-fit: contain;
    height: 40px;
    width: 200px;
    margin-right: 20px;
}
.header__search{
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    /* background-color: #eef3f8; */
}
.header__right{
    display: flex;
    margin-left: 90px;
}