
.header{
  height: 40px;
  display: flex;
  justify-content: space-evenly;
}
a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 100px;
}
.header__search{
  display: flex;
  justify-content: space-evenly;
  width: 650px;
  height: 30px;
  border: solid;
  border-radius: 6px;
}
.search-input{
  width: 610px;
  font-size: 1rem;
  border: white;
}
/*header
.header{
  position: sticky;
  top: 0;
  justify-content: space-evenly;
}
.header__left{
  display: flex;
}
.header__left > img{
  background-size: contain;
  object-fit: contain;
  height: 40px;
  width: 200px;
  margin-right: 20px;
}
.header__search{
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 22px;
  color: gray;
  /* background-color: #eef3f8; */
  /*
}
.header__right{
  display: flex;
  margin-left: 90px;
}

.headerOption{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  color: gray;
  cursor: pointer;
  justify-content: space-between;
  margin-left: 30px;
  width: 5em;
}

.headerOption:hover{
  color: black;
  background-color: rgb(181, 239, 255);
  border-radius: 10px;
}

.headerOption__title{
  font-size: 15px;
  font-weight: 600;
}*/
